{% extends 'base.html.twig' %}

{% block title %}Informations{% endblock %}

{% block body %}
    <div class="fluid-container">
    <div class="card w-50 mx-auto mt-3">
        <h2 class="card-header">Informations</h2>
        <div class="card-body">
            <h5 class="card-title">Megacasting</h5>
            <p class="card-text">MegaCasting est une agence de production spécialisée dans les représentations artistiques.<br>Notre champ d'actions couvre une grande partie des capacités artistiques que peuvent produire un humain.</p>
        </div>
    </div>
    </div>
{% endblock %}
