{% extends 'base.html.twig' %}

{% block title %}MegaCasting | Accueil{% endblock %}

{% block body %}
<div class="carousel slide d-flex justify-content-center mx-0 mt-5 mb-5" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
     {% for key in offre|slice(0, 1) %}
        <div class="text-center">
            <h5>Une nouvelle offre ({{ key.intitule }}) vient d'être ajoutée</h5>
            <p>CDD (6 mois) par Studio-9 </p>
            <a class="btn btn-info" href="/casting/{{ key.identifiant }}">Voir les détails ...</a>
        </div>
     {% endfor %}
    </div>
    <div class="carousel-item">
        {% for key in offre|slice(1, 1) %}
        <div class="text-center">
            <h5>Une nouvelle offre ({{ key.intitule }}) vient d'être ajoutée</h5>
            <p>CDD (6 mois) par Studio-9 </p>
            <a class="btn btn-info" href="/casting/{{ key.identifiant }}">Voir les détails ...</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div> 
  <div>
    <h3>Megacasting : comment ça marche ?</h3>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Début</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Consulter les offres qui vous intéressent.</div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Inscrivez-vous ou connectez-vous pour pouvoir postuler.</div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Postuler avec les coodornnées données sur le casting.</div>
    </div>
  </div>
</div>

{% endblock %}
{% block javascripts%}
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.1.1/js/all.js"></script>
<!-- Optional JavaScript -->
<script src="script/carousel.js"></script>
{% endblock %}
