{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div class="carousel slide d-flex justify-content-center mx-0" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="text-center">
            <h5>Une nouvelle vient d'être ajoutée</h5>
            <p>CDD (6 mois) par Studio-9 </p>
        </div>
    </div>
    <div class="carousel-item">
        <div class="text-center">
            <h5>Une nouvelle vient d'être ajoutée</h5>
            <p>CDI (6 mois) par Studio-9 </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
