{% extends 'base.html.twig' %}

{% block title %}MegaCasting | {{ offre.intitule }}{% endblock %}

{% block body %}
    <h2 class="titredescastings mt-5 mb-5">Casting</h2>
    <p>{{ offre.intitule }} </p>
        
    <p> {{ offre.datedebut|date("d/m/Y") }} </p>
    <p>{{ offre.getLocalisation().libelle}} </p>
    <p> </p>
        
{% endblock %}
