{% extends 'base.html.twig' %}

{% block title %}Castings{% endblock %}

{% block body %}
    <h2 class="titredescastings">Castings</h2>
    <div class="coming">
        <h2>Casting à venir</h2>
        <nav class="navbar navbar-expand-sm navbar-light bg-light navigationdumenu">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle liendumenu" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Offre de casting 1
                        </a>
                        <div class="dropdown-menu divdumenu" aria-labelledby="navbarDropdown">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe enim, tempore sed veritatis eligendi sint quam pariatur possimus. Nemo dolorem ducimus quas neque? Neque tempore illum, reiciendis ex vel voluptatibus?</p>
                            <a class="dropdown-item" href="#">Postuler</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle liendumenu" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Offre de casting 2
                        </a>
                        <div class="dropdown-menu divdumenu" aria-labelledby="navbarDropdown">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe enim, tempore sed veritatis eligendi sint quam pariatur possimus. Nemo dolorem ducimus quas neque? Neque tempore illum, reiciendis ex vel voluptatibus?</p>
                            <a class="dropdown-item" href="#">Postuler</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggleliendumenu" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Offre de casting 3
                        </a>
                        <div class="dropdown-menu divdumenu" aria-labelledby="navbarDropdown">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe enim, tempore sed veritatis eligendi sint quam pariatur possimus. Nemo dolorem ducimus quas neque? Neque tempore illum, reiciendis ex vel voluptatibus?</p>
                            <a class="dropdown-item" href="#">Postuler</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <br>
    <div class="now">
        <h2>Castings en cours</h2>
        <nav class="navbar navbar-expand-sm navbar-light bg-light navigationdumenu">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle liendumenu" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Casting 1
                        </a>
                        <div class="dropdown-menu divdumenu" aria-labelledby="navbarDropdown">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe enim, tempore sed veritatis eligendi sint quam pariatur possimus. Nemo dolorem ducimus quas neque? Neque tempore illum, reiciendis ex vel voluptatibus?</p>
                            <a class="dropdown-item" href="#">Regarder</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle liendumenu" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Casting 2
                        </a>
                        <div class="dropdown-menu divdumenu" aria-labelledby="navbarDropdown">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe enim, tempore sed veritatis eligendi sint quam pariatur possimus. Nemo dolorem ducimus quas neque? Neque tempore illum, reiciendis ex vel voluptatibus?</p>
                            <a class="dropdown-item" href="#">Regarder</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle liendumenu" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Casting 3
                        </a>
                        <div class="dropdown-menu divdumenu" aria-labelledby="navbarDropdown">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe enim, tempore sed veritatis eligendi sint quam pariatur possimus. Nemo dolorem ducimus quas neque? Neque tempore illum, reiciendis ex vel voluptatibus?</p>
                            <a class="dropdown-item" href="#">Regarder</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="past">
        <h2>Castings passés</h2>
        <nav class="navbar navbar-expand-sm navbar-light bg-light navigationdumenu">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle liendumenu" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Casting 1
                        </a>
                        <div class="dropdown-menu divdumenu" aria-labelledby="navbarDropdown">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe enim, tempore sed veritatis eligendi sint quam pariatur possimus. Nemo dolorem ducimus quas neque? Neque tempore illum, reiciendis ex vel voluptatibus?</p>
                            <a class="dropdown-item" href="#">Regarder</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle liendumenu" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Casting 2
                        </a>
                        <div class="dropdown-menu divdumenu" aria-labelledby="navbarDropdown">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe enim, tempore sed veritatis eligendi sint quam pariatur possimus. Nemo dolorem ducimus quas neque? Neque tempore illum, reiciendis ex vel voluptatibus?</p>
                            <a class="dropdown-item" href="#">Regarder</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle liendumenu" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Casting 3
                        </a>
                        <div class="dropdown-menu divdumenu" aria-labelledby="navbarDropdown">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe enim, tempore sed veritatis eligendi sint quam pariatur possimus. Nemo dolorem ducimus quas neque? Neque tempore illum, reiciendis ex vel voluptatibus?</p>
                            <a class="dropdown-item" href="#">Regarder</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <br>
    <footer class="footerdumenu">
        <p class="textedufooter">MegaCasting</p>
    </footer>
{% endblock %}
