{% extends 'base.html.twig' %}

{% block title %}Castings{% endblock %}

{% block body %}
    <h2 class="titredescastings mt-5 mb-5">Castings</h2>
        {% for offre in offres %}
            {% if offre.getDate() <= "now"|date("d/m/Y") %}
            <div class="card-deck mt-5 mb-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> 
                            {{ offre.getName() }}      
                        </h5>
                        <p class="card-text">{{ offre.getProfil() }}</p>
                        <a href="/casting/{{ offre.getIdentifiant() }}" class="btn btn-info">Postuler</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-success">Dernière modification il y a {{offre.CalculDateModif()}}.</small>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
{% endblock %}
