{% extends 'base.html.twig' %}

{% block title %}Hello CastingsController!{% endblock %}

{% block body %}
<table>
    <thead>
    <tr>
        <p>Casting à venir</p>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
{% endblock %}
