{% extends 'base.html.twig' %}

{% block title %}MegaCasting | Contact{% endblock %}

{% block body %}
    {{ form_errors(formcontact) }}

    {{ form_start(formcontact) }}
    <h2 class="mb-5">{% trans %}Contact{% endtrans %}</h2>
    {{ form_end(formcontact) }}

{% endblock %}
